@import url('https://unpkg.com/@tailwindcss/typography@0.4.x/dist/typography.min.css');
@import url('https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto+Slab:wght@700&display=swap');

*{
  font-family: 'Open Sans', sans-serif;
  margin:0;
  padding:0;
  box-sizing: border-box;
  text-decoration:none;
}
/*
        SEMANTICS
 */
header.header-site{
  padding:32px 0 32px 0;
  position: sticky;
  top: 0;
  z-index: 4;
  font-family: Barlow,Helvetica,sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 2px;
  font-feature-settings: 'liga' off;
  text-transform: uppercase;
  background-color: rgba(42, 67, 77, 0.8);
  color: #FFF;
  border-bottom: 2px solid #d04a02;
}
nav{
  display:flex;
  justify-content: space-between;
  align-items: center;
}
/*
        LINKS
 */
a.nav{
  color:white;
  margin-right:1em;
  font-size:14px;
}
a.nav:hover, .active-link{
  border-bottom:1px solid white;
}
a.career{
  border-bottom:1px solid black;
}
a.career:hover{
  color: orange;
}
a.return-page{
  background-color: #d04a02;
  color:white;
  border:1px solid orange;
}

/*
        DIV
 */
div.loginDiv {
  width: 300px;
  height: 300px;

  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;

  margin: auto;
}

/*
        IMAGES
 */
img.logo{
  width: 185px;
  height: 40px;
}
img.home-image{
  margin-top:-106px;
}
/*
        CLASSES
 */
.cursive {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}
.container{
  margin:auto;
  width:90%;
}
.post img {
  margin-left: auto;
  margin-right: auto;
  border-radius:5px;
}
.bgd-main{
  background-color: #e8eae9;
}
.color-site{
  color: #d04a02;
}
.bg-color-site{
  background-color: rgba(208, 74, 2, 0.8);
}
.bg-color-site-1{
  background-color: rgb(208, 74, 2);
}
.border-color-site{
  border-color: #d04a02;
}
.roboto{
  font-family: 'Roboto Slab', serif;
}
.fff{
  background-color: #f0f0f0;
}
/*
          Tables
 */
th{
  padding: 15px 10px;
  line-height: 24px;
  vertical-align: top;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-right: 30px;
  border-bottom:1px solid black;
  text-align: left;
}
th.job-title{
  width:30%;
}
th.job-line{
  width:25%;
}
th.job-location{
  width:15%;
}
th.job-type{
  width:20%;
}
th.job-empty{
  width:10%;
}
td{
  padding: 15px 10px;
}
tr{
  border-bottom:1px solid darkgray;
}
tr:nth-of-type(even){
  background-color: #f2f2f2;
}
ul{
  padding-left: 2.5em;
}
li{
  list-style-type: disc !important;
}